<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="cympfh" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <style type="text/css">code{white-space: pre;}</style>
  <title>dosoku dashboard</title>
  <style>
  @font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Josefin Sans'), local('JosefinSans'), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }
  h1,h2,h3,h4,h5 {
    font-family: 'Josefin Sans';
  }
</style>
</head>
<body>
  <section class="section">
    <div class="container">
      <h2 class="title">dosoku dashboard</h2>
      <div class="container">
      {% for name in names %}
        <div class="box">
          <nav class="level">
            <div class="level-left">
              <h2 style="font-size: 1.2rem;">{{ name }}</h2>
            </div>
            <div class="level-right">
              <button class="button" onclick="reload(this)" label="{{ name }}">
                <span class="icon"><i class="fas fa-redo"></i>
              </span></button>
            </div>
          </nav>
          <section class="section job" id="{{ name }}">
            Loading...
          </section>
        </div>
      {% endfor %}
      </div>
    </div>
  </section>
  <script>
    function get(name) {
      fetch(`http://${location.host}/job/${name}`)
        .then(response => response.text())
        .then(result => {
          document.getElementById(name).innerHTML = result;
        });
    }
    function getAll() {
        let elems = document.getElementsByClassName('job');
        for (var e of elems) {
          get(e.id);
        }
    }
    function reload(elem) {
      var name = elem.attributes.label.value;
      fetch(`http://${location.host}/job/${name}`, {'method': 'POST'})
        .then(response => response.text())
        .then(result => {
          document.getElementById(name).innerHTML = result;
        });
    }
    setTimeout(getAll, 500);
  </script>
</body>
</html>
